@model IEnumerable<LowCode.Models.InternalAttribute>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LogicalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.AttributeMask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultValue)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.IsCustomField)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPKAttribute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.AttributeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LogicalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.AttributeMask)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.DefaultValue)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.IsCustomField)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPKAttribute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.AttributeType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entity.DisplayName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AttributeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AttributeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AttributeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
